html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
@media screen and (min-width: 768px) {
  html {
    scroll-padding-top: 70px;
  }
}

body {
  font-family: "Noto Serif JP", "Poppins";
  color: #9a8b92;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 300;
  background: #ffeff8;
}

@media screen and (min-width: 600px) {
  .hidden-sm {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hidden-md {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .hidden-lg {
    display: none;
  }
}
@media screen and (min-width: 1220px) {
  .hidden-xl {
    display: none;
  }
}
.inner {
  padding-inline: 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 40px;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}
@media screen and (min-width: 768px) {
  main {
    gap: 160px;
  }
}

.heading {
  font-size: 35px;
  font-weight: 400;
  line-height: 100%;
  color: #9a8b92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.heading::after {
  content: "";
  width: 160px;
  height: 3px;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
    gap: 24px;
  }
}

header {
  height: 60px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
  background: #fff;
  border-bottom: 3px solid #ffeff8;
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo a img {
  width: 96px;
  display: block;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__sns-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}

.header__sns-item a img {
  width: 30px;
}

.header__lists {
  display: none;
}

.header__nav {
  width: 270px;
  height: calc(100% - 60px);
  position: fixed;
  right: 0;
  top: 60px;
  background: #FA81B4;
  padding: 40px 15px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  z-index: 90;
}
.header__nav.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .header__nav {
    background: transparent;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .header__lists {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 47px;
  }
}

.header__link {
  display: inline-block;
  padding-bottom: 8px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .header__link {
    color: #FA81B4;
    font-size: 16px;
    padding-bottom: 0;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .header__link:hover {
    color: #ffeff8;
  }
}

.drawer-icon {
  width: 30px;
  height: 18px;
  position: relative;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawer-icon__bar {
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background: #fa81b4;
  -webkit-transition: top 0.4s, -webkit-transform 0.4s;
  transition: top 0.4s, -webkit-transform 0.4s;
  transition: top 0.4s, transform 0.4s;
  transition: top 0.4s, transform 0.4s, -webkit-transform 0.4s;
}
@media screen and (min-width: 768px) {
  .drawer-icon__bar {
    display: none;
  }
}
.drawer-icon__bar:nth-of-type(1) {
  top: 0;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 8px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 16px;
}

main {
  height: 374px;
  background: #fff;
}

.fv__image {
  display: block;
  text-align: center;
}
.fv__image img {
  width: 320px;
  margin-top: 22px;
}